body {
    margin: 0px;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 3px solid black;
    margin: 0px;
    padding: 20px;
}

label {
    display: inline-block;
    width: 120px;
}

input {
    display: inline-block;
    width: 160px;
}

div.menu {
    overflow: hidden;

}

div.item {
    display: inline-block;
    float: center;
    margin: 0 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#td-name {
    width: 100px;
    text-align: left;
}

.td-subject #td-rank {
    width: 50px;
    text-align: right;
}

#td-total #td-average {
    width: 120px;
    text-align: right;
}

#td-grade {
    width: 150px;
    text-align: left;
}
